.message {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: fit-content;
    box-shadow: 0px 0px 10px #ccc !important;
    display:flex;
    align-items: center;
    gap: 20px;
}

.message__userCard {
    margin-left: auto;
    text-align: left !important;
    background-color: #0b81ff !important;
    color: white !important;
    box-shadow: 0px 0px 10px #ccc !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
    box-shadow: 0px 0px 10px #e5f2ff !important;
}